body {
  background-color: #CADEDA;
  margin: 0;
}

.left-side {
  border: 2px solid;
  border-color: #E7EEED;
  border-radius: 15px;
  padding-top: 2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  width: 18%;
  background-color: #f1f1f1;
  position: fixed;
  overflow: auto;
  margin-left: 0.4%;
}

#login-div{
  margin-top: 2.5%;
  height: 25%;
}

#menu-ul { 
  list-style-type: none;
  margin-top: 18%;
  height: 26%;
}

input[type=text], input[type=password] {
  width: 90%;
  border: solid;
  border-width: 2px;
  border-radius: 6px;
  border-color: #E7EEED;
  height: 29px;
  font-size: 13px;
  padding-left: 3%;
}

input[type=submit], input[type=button]{
  height: 28px;
  border: solid;
  border-width: 2px;
  border-color: #E7EEED;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  margin-top: 2%;
}

#login-btn {
  width: 35%;
  background-color: #4b818a;
}

#register-btn {
  width: 40%;
  background-color: #BBCBCA;
}

#login-btn:hover {
  background-color: #23555D;
}

#register-btn:hover {
  background-color: #97ADAC;
}

li {
  border-bottom-color: #fff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 7px;
}

a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 4% 8%;
  border-radius: 7px;
}

li a.active {
  background-color: #4b818a;
  color: white;
}

li a:hover:not(.active) {
  background-color: #BBCBCA;
  color: white;
}

#categories-div {
  display: none;
  margin-left: 10%;
}